
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7F7F81;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #5D9800;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}


/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0;
	padding: 0px;
	color: #ff0000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -1px;
	text-transform: lowercase;
	text-shadow: #808080 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
	}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #808080 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	
}


/* Menu */

#menu {
	width: 1000px;
	height: 49px;
	margin: 0 auto;
	padding: 0;
	background: url(img/img02.jpg) repeat-x left bottom;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 4px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 33px;
	margin-right: 1px;
	padding: 16px 30px 0px 30px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #8A5608 -1px 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: none;
}

#splash {
	width: 1000px;
	height: 260px;
	margin: 0px auto;
	background: url(img/img05.jpg) no-repeat left top;
}

/* Page */

#page {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	background: #ffffff;
}

/* Footer */

#footer {
	width: 1000px;
	height: 55px;
	margin: 0px auto 40px auto;
	background: url(img/img04.jpg) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	background: url(img/img04.jpg) no-repeat left top; 
}

#footer a {
	color: #FFFFFF;
}
